<!--The content below is only a placeholder and can be replaced.-->
<div id="content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>VBS 2019 Log Format Verification</mat-card-title>
      <mat-card-subtitle *ngIf="!(reports|async)">Please upload the output of your log (JSON file) in order to get it validated.</mat-card-subtitle>
      <mat-card-subtitle class="success" *ngIf="(reports|async) && (reports|async).success">Validation for <strong>{{(reports|async).filename}}</strong> was successful! <strong>{{(reports|async).numWarnings}}</strong> warnings, <strong>{{(reports|async).numInfos}}</strong> remarks. See log for more details.</mat-card-subtitle>
      <mat-card-subtitle class="failure" *ngIf="(reports|async) && !(reports|async).success">Validation for <strong>{{(reports|async).filename}}</strong> was not successful! <strong>{{(reports|async).numErrors}}</strong> errors, <strong>{{(reports|async).numWarnings}}</strong> warnings, <strong>{{(reports|async).numInfos}}</strong> remarks. See log for more details.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div *ngIf="(reports|async)">
        <mat-list *ngIf="(reports|async).errors.length > 0" dense>
          <mat-list-item *ngFor="let error of (reports|async).errors" [ngClass]="{'error' : error.level == 'error', 'warning' : error.level == 'warn', 'info' : error.level == 'info'}">
            <mat-icon *ngIf="error.level == 'error'" mat-list-icon>error</mat-icon>
            <mat-icon *ngIf="error.level == 'warn'" mat-list-icon>warning</mat-icon>
            <mat-icon *ngIf="error.level == 'info'" mat-list-icon>chat_bubble</mat-icon>
            <h4 mat-line>{{error.level.toUpperCase()}}</h4>
            <p mat-line [style.white-space]="'normal'" [style.overflow-x]="'auto'" >{{error.message}}</p>
          </mat-list-item>
        </mat-list>
      </div>

      <form *ngIf="!(reports|async)" class="verification-form">
          <input type="file" accept="application/json" (change)="handleUpload($event.target.files)"/>
      </form>
    </mat-card-content>
  </mat-card>
</div>